{% extends 'base.html.twig' %}
{# <table>
    <thead>
        <th>
            Nombre
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Correo
        </th>
    </thead>
    <tbody>
    {%  for i in data.data %}
        <tr>
            <td>{{ i.Nombre }}</td>
            <td>{{ i.Apellidos }}</td>
            <td>{{ i.Correo }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>  #}
{% set asset_path = 'resources/prueba/' %}

{% block contenido%}
    <div class="row">
        <h2>Bienvenido </h2>
    </div>

    <div class="container ">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title center ">Ingrese su numero de cuenta </span>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="cuenta" type="number"name ="cuenta" class="validate">
                                <label for="noCu">Numero de cuenta <i class="fa-solid fa-address-card" style="color: #ffffff;"></i></label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" id="btnCargar">Aceptar
                            <i class="fa-solid fa-check" style="color: #ffffff;"></i>
                        </button>
                        <button class="btn waves-effect waves-light right " name="">Limpiar
                            <i class="fa-regular fa-trash-can" style="color: #ffffff;"></i>
                        </button>
                </div>
            </div>
    </div>


    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Depositos <i class="fa-regular fa-credit-card" style="color: #ffffff;"></i></span>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="cantidad" type="text" name="cantidad" class="validate">
                                <label for="email">Cantidad</label>
                            </div>
                        </div>
                            <a class="btn waves-effect waves-light" id="btnDepositar">Aceptar
                            <i class="fa-solid fa-check" style="color: #ffffff;"></i>
                        </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Retiros <i class="fa-solid fa-money-bill-transfer" style="color: #ffffff;"></i></span>
                    <form>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="number" class="validate">
                                <label for="email">Cantidad</label>
                            </div>
                        </div>
                        <a class="btn waves-effect waves-light">Aceptar
                            <i class="fa-solid fa-check" style="color: #ffffff;"></i>
                        </a>
                        <button class="btn waves-effect waves-light"  name="">Limpiar
                            <i class="fa-regular fa-trash-can" style="color: #ffffff;"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card col s12">
                <table id="tb_historial" class="striped" >
                    <thead>
                    <h3>Historial de movimientos  </h3>
                    <h5>{{ data['data'][0].Cliente}}</h5>
                    <h4 class="right">Saldo </h4>
                    <tr>
                        <th>Numero de cuenta</th>
                        <th>Cliente</th>
                        <th>Movimiento</th>
                        <th>Cantidad</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
{% block javascripts%}
        {{ parent() }}
        <script>
            var url_getMovimientos= "{{ path('insertar_movimientos') }}"

        </script>
        <script type="text/javascript" src="{{ asset(asset_path ~ 'primerBundle.js') }}"></script>
{% endblock %}
